<div class="sidebar-content">
  <ul class="sidebarMenu">
    <li class="" routerLinkActive="activeLink">
      <a class="" href="" routerLink="statistique"><i class="fa-solid fa-house"></i>Statistique</a>
    </li>
    <li class="collapsed" routerLinkActive="activeLink">
      <a class="btn-toggle fw-bold" data-bs-toggle="collapse" data-bs-target="#utilisateurs" aria-expanded="false"
        routerLink="utilisateurs/vendeurs">
        <i class="fa-solid fa-user"></i>
        Utilisateurs <i class="fa-solid fa-caret-down dropicon"></i>
      </a>
      <div class="collapse" id="utilisateurs" class="p-0">
        <ul class="btn-toggle-nav">
          <li>
            <a routerLink="utilisateurs/vendeurs" routerLinkActive="selected">Propriétaires</a>
          </li>
          <li>
            <a routerLink="utilisateurs/acheteurs" routerLinkActive="selected">Acheteurs</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="collapsed" routerLinkActive="activeLink">
      <a class="btn-toggle annoncesIcon" data-bs-toggle="collapse" data-bs-target="#annonces" aria-expanded="false"
        routerLink="annonces/voitures">
        <i class="fa-solid fa-bullhorn"></i>
        Annonces
        <i class="fa-solid fa-caret-down dropicon"></i>
      </a>
      <div class="collapse" id="annonces">
        <ul class="btn-toggle-nav">
          <li>
            <a routerLink="annonces/voitures" routerLinkActive="selected">Voitures</a>
          </li>
          <li>
            <a routerLink="annonces/motos" routerLinkActive="selected">Motos</a>
          </li>
          <li>
            <a routerLink="annonces/utilitaires" routerLinkActive="selected">Utilitaires</a>
          </li>
        </ul>
      </div>
    </li>
    <!-- <li class="" routerLinkActive="activeLink"><a href="" routerLink="annonces">Annonces</a></li> -->
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="categories"><i class="fa-solid fa-layer-group"></i>Catégories</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="contacts"><i class="fa-solid fa-address-book"></i>Contacts</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="signalements"><i class="fa-solid fa-triangle-exclamation"></i>Signalements</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="newsletters"><i class="fa-solid fa-newspaper"></i>Newsletters</a>
    </li>
    <li class="" routerLinkActive="activeLink">
      <a href="" routerLink="blogs"><i class="fa-solid fa-file-invoice"></i>Blogs</a>
    </li>
  </ul>
  <div class="logoConnect m-auto ">
    <a href="" routerLink="/admin">
      <img src="../../../../assets/images/logo2-removebg-preview.png" class="img-fluid w-100 h-100" alt="">
    </a>
  </div>

  <p class="disconnect">
    <i class="fa-solid fa-right-from-bracket"></i>
    <a href="" routerLink="/admin">Déconnexion</a>
  </p>

</div>
