
<!-- banniere -->
<div class="banner">
  <img src="../../assets/conditionUse.png" alt="">
</div>
<br>
<div class="contenu">
  <br>
  <h3>1. Informations légales</h3>
  <p>OUVRIER-EXPRESS est un site de mise en relation de profils positionné sur le secteur du service à la personne, du service à
  domicile et du service de l'entreprise, plateforme purement sénégalaise dont le siège est situé Chemin de fann à
  cité keur gorgui en face l'aire de jeu.Vous pouvez utiliser le site pour soit vous trouver de la main-d'oeuvre
  , soit pour être prestataire et être embauché.</p>
<br>
  <h3>2. Propriété intellectuelle</h3>
  <p>Tout ce qui est utilisé dans le site c'est-à-dire les logos, les images, les graphiques, les compilations de données
    appartiennent au groupe OUVRIER-EXPRESS et sont protégés par les lois internationales sur les droits d'auteur.
  La reproduction, la modification, la distribution ou la retransmission de tout matériel de ce site est strictement
  interdite sans l'autorisation écrite venant du propriétaire</p>
<br>
  <h3>3. Utilisation du site</h3>
  <p>En utilisant ce site, vous acceptez de vous conformer à ces mentions générales et de ne pas utiliser le site à des fins
  illégales ou interdites. Vous ne pouvez pas violer ou tenter de violer la sécurité du site, y compris, sans s'y limiter,
  en <br>(a) accédant à des données qui ne vous sont pas destinées ou en vous connectant à un serveur ou un compte auxquels
  vous n'êtes pas autorisé ; <br>(b) tentant de sonder, de scanner ou de tester la vulnérabilité d'un système ou d'un réseau,
  ou de violer les mesures de sécurité ou d'authentification sans autorisation appropriée ;
  <br>(c) interférant ou perturbant le réseau ou les services, y compris, sans s'y limiter, en introduisant des virus, des
  vers, des chevaux de Troie, des bombes logiques, des fusils de chasse ou d'autres matériels ou programmes nuisibles.
</p>
<br>
  <h3>4. Liens vers d'autres sites</h3>
  <p>Ce site peut contenir des liens vers des sites web tiers. Ces liens sont fournis uniquement pour votre commodité.
  OUVRIER- EXPRESS n'a aucun contrôle sur ces sites et n'assume aucune responsabilité quant à leur contenu. L'inclusion de
  liens vers ces sites n'implique pas une approbation du contenu ou une association avec leurs exploitants.</p>
<br>
  <h3>5. Modifications des mentions générales</h3>
  <p>OUVRIER- EXPRESS se réserve le droit de modifier ces mentions générales à tout moment. Les modifications prennent effet
  dès leur publication sur le site. Il est de votre responsabilité de consulter régulièrement ces mentions générales afin
  de rester informé des éventuelles modifications.</p>
<br>
  <h3>6. Contact</h3>
  <p>Si vous avez des questions concernant ces mentions générales, veuillez nous contacter à l'adresse suivante : <br>
 
  Date de dernière mise à jour : 12-01-2024</p>
</div>
