<div class="bloc">
  <br>
  <a href="#" class="retour"><i class="bi bi-arrow-left"></i> Retour</a>

<!-- formulaire -->
<div class='Formulaire-container'>
            <div class='bbb'>
                 <form>
                  <br>
                  <div class="logo">
                    <img src="../../assets/logo.png" alt="">
                  </div>
                <h2>
                    Inscrivez-vous !
                </h2>
                <label>Prenom</label><br>
                <input type='text' name='prenom' class='lnc'> <br>
                <label>Nom</label><br>
                <input type='text' name='nom'  class='lnc'><br>
                <label>Email</label><br>
                <input type='email' name='email'  class='lnc'><br>
                <label>Mot de passe</label><br>
                <input type='password' name='password' class='lnc'> <br>
                <input type='checkbox' >&nbsp;&nbsp;<span class="gcu"><i>Acceptez les conditions d'utilisation</i></span><br>
                <button class='btn'>Enregistrer</button>
                <div class="link">
                  <a href="">
                    <i>Se connecter</i>
                  </a>
                </div>
            </form>
            </div>

        </div>






</div>

