<section class="quiSommesNous">
  <br><br>
  <div class="entete">
  <i class="fa-solid fa-diamond"></i>
  <h3>Qui sommes-nous ?</h3>
</div>

<!-- Descriptions -->
  <div class="two-bloc-txt">
    <div class="bloc-txt1">
      <p>
        A la recherche de profils qui sauront mener à bien vos projets , tâches, voici la solution.
        OUVRIER-EXPRESS est une plateforme qui conecte les demandeurs et les entités (ménages ou entreprises)
      </p>
    </div>

    <div class="bloc-txt2">
      <p>
        Ensemble, facilitons la connexion entre les personnes en recherche de métiers avec ceux voulant trouver le profil
        parfait. Ici, c'est la passion et le désir d'innover qui a guidé jusqu'à la mise sur pied de la platforme.
      </p>
    </div>
  </div>

  <!-- les chiffres -->
  <div class="my-rates">
    <div class="first">
      <p class="jaune">
        19k+
      </p>
      <p class="txt-between">D'abonnement sur notre <br>
        chaîne youtube</p>
    </div>

    <div class="second">
      <p class="jaune">
        3+
      </p>
      <p class="txt-between">followers qui nous suivent<br>sur les réseaux</p>
    </div>

    <div class="third">
      <p class="jaune">
        12+
      </p>
      <p class="txt-between">Partenaires qui nous <br>
        soutiennent à aider les jeunes</p>
    </div>
  </div>
</section>


<!-- Image illustrative -->
<div class="image">
  <img src="../../assets/between.png" alt="">
</div>



<!-- Section Objectifs -->
<section class="objectif">
    <div class="entete">
      <i class="fa-solid fa-diamond"></i>
      <h3>Nos ojectifs</h3>
    </div>
  <div class="design-section">

    <div class="timeline">

      <div class="timeline-empty">
      </div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-component timeline-content">
        <h3>Objectif 1</h3>
        <p>Permettre aux employés d'avoir une autre source de revenue
          outre que son salaire de base, c'est-à-dire en freelance.</p>
      </div>
      <div class="timeline-component timeline-content">
        <h3>Objectif 2</h3>
        <p>Permettre aux entités(entreprises) ou ménages de trouver la
          main d'oeuvre parfaite pour des tâches qui ne nécessitent pas de signature de contrat</p>
      </div>
      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class="timeline-empty">
      </div>

      <div class="timeline-empty">
      </div>

      <div class="timeline-middle">
        <div class="timeline-circle"></div>
      </div>
      <div class=" timeline-component timeline-content">
        <h3>Objectif 3</h3>
        <p>Permettre aux chômeurs de pouvoir pourquoi pas avoir un contrat de CDI ou CDD aprés
          l'achèvement d'une tâche chez un employeur
        </p>
      </div>

    </div>


</div>

</section>


<!-- Section team -->
<section class="team">
  <br>
  <br>
  <div class="entete">
    <i class="fa-solid fa-diamond"></i>
    <h3>Notre équipe</h3>
    <p>Découvrez l'équipe qui a combiné éffort et profession- <br>nalisme
    pour réaliser ce projet
</p>
  </div>
  <div class="Container_Section_Team">
    <div class="Team_Card">
      <div class="Card_Team">
        <img src="https://img.freepik.com/free-photo/portrait-african-american-man_23-2149072179.jpg?size=626&ext=jpg&uid=R121268218&ga=GA1.2.513108714.1692835132&semt=sph" alt="">
        <h6>Libasse Ndoye cisse</h6>
        <p>Développeur front-end</p>
        <div class="Team_Icone">
          <p><i class="fa-brands fa-facebook"></i>&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;<i
              class="fa-brands fa-instagram"></i></p>
        </div>
        <hr>
      </div>
      <div class="Card_Team">
        <img src="https://img.freepik.com/premium-photo/advertising-concept-confident-smiling-young-african-woman-crossed-hands-looking-camera_613652-185.jpg?size=626&ext=jpg&uid=R121268218&ga=GA1.2.513108714.1692835132&semt=sph" alt="">
        <h6>Khadidiatou Dieye</h6>
        <p>Développeur back-end</p>
        <div class="Team_Icone">
          <p><i class="fa-brands fa-facebook"></i>&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;<i
              class="fa-brands fa-instagram"></i></p>
        </div>
        <hr>
      </div>
    </div>
  </div>
</section>


