<app-entete></app-entete>
<!-- banniere -->
<div class="banniere">
  <img src="../../assets/faq.png" alt="">
</div>

<!-- contenu -->
<div class="container">
  <div class="mt-14 space-y-16 bg-white py-12 pl-5 p-5">
  <div>
    <div class="">
      <div class="space-y-5">
        <div class="space-y-3">
          <p class="text-2xl font-bold leading-10 text-gray-900">FAQ</p>
        </div>
        <p class="max-w-xl text-base text-gray-600">
          Tout ce dont vous avez besoin de savoir sur la plateforme.
          Vous ne trouvez pas votre réponse ? Merci de nous contacter
        </p>
        <hr class="my-8" />
      </div>
    </div>
    <div class="grid md:grid-cols-3 md:space-x-8">
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Est-ce que la plateforme est free?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Oui pour l'instant. Pour l'instant on a pas encore introduit le paiement.
            Il a été tenu en compte mais n'est pas encore éffective.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Pourrais-je contacter une entreprise en tant que ouvrier?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Non! Pour des raison de sécurité et de la tranquilité de l'esprit des entités
            (entreprises ou ménages), l'ouvrier n'a pas la possibilité de contacter une quelconque entreprise.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Quelle est votre politique d'annulation ?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Nous comprenons que les choses peuvent changer. Vous pouvez annuler votre abonnement à tout moment et nous vous
            rembourserons la différence déjà payée.
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-3 md:space-x-8">
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Est-il possible d'ajouter d'autres informations dans mon profil ?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
          Oui, vous pouvez nous essayer gratuitement pendant 1 an. Si vous le souhaitez, nous vous proposerons un appel
          d'intégration gratuit et personnalisé de 30 minutes pour vous aider à démarrer le plus rapidement possible.

          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Comment fonctionne la facturation ?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
          Les plans sont par espace de travail, pas par compte. Vous pouvez mettre à niveau un espace de travail et avoir toujours
          un nombre illimité d'espaces de travail gratuits.

          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Comment je peux changer mon email
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Vous pouvez changer votre address email en associant votre compte gmail ou compte microsoft.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <div
        class="flex flex-col justify-between rounded-md bg-gray-50 p-4 md:flex-row md:items-center md:p-8 lg:space-x-8">
        <div class="space-y-2">
          <p class="text-xl font-semibold leading-loose text-gray-900">
            Avez-vous toujours des quetions ?
          </p>
          <p class="text-base text-gray-600 md:text-lg md:leading-7">
            Vous ne trouvez pas la réponse que vous cherchiez.
          </p>
        </div>
        <button type="button"
          class="mt-4 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black md:mt-0">
          <a href="" class="text-white" routerLink="/">Contactez-nous</a>
        </button>
      </div>
    </div>
  </div>
</div>
</div>

<app-footer></app-footer>
