<!-- banniere -->
<div class="banniere">
  <img src="../../assets/faq.png" alt="">
</div>

<!-- contenu -->
<div class="container">
  <div class="mt-14 space-y-16 bg-white py-12 pl-5 p-5">
  <div>
    <div class="">
      <div class="space-y-5">
        <div class="space-y-3">
          <p class="text-2xl font-bold leading-10 text-gray-900">FAQ</p>
        </div>
        <p class="max-w-xl text-base text-gray-600">
          Tout ce dont vous avez besoin de savoir sur la plateforme.
          Vous ne trouvez pas votre réponse ? Merci de nous contacter
        </p>
        <hr class="my-8" />
      </div>
    </div>
    <div class="grid md:grid-cols-3 md:space-x-8">
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Est-ce que la plateforme est free?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Oui pour l'instant. Pour l'instant on a pas encore introduit le paiement.
            Il a été tenu en compte mais n'est pas encore éffective.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Pourrais-je contacter une entreprise en tant que ouvrier?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Non! Pour des raison de sécurité et de la tranquilité de l'esprit des entités
            (entreprises ou ménages), l'ouvrier n'a pas la possibilité de contacter une quelconque entreprise.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            What is your cancellation policy?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            We understand that things change. You can cancel your plan at
            any time and we’ll refund you the difference already paid.
          </p>
        </div>
      </div>
    </div>
    <div class="grid md:grid-cols-3 md:space-x-8">
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            Can other info be added to an invoice?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Yes, you can try us for free for 30 days. If you want, we’ll
            provide you with a free, personalized 30-minute onboarding call
            to get you up and running as soon as possible.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            How does billing work?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            Plans are per workspace, not per account. You can upgrade one
            workspace, and still have any number of free workspaces.
          </p>
        </div>
      </div>
      <div class="my-8 space-y-5">
        <div class="flex w-full flex-col space-y-2">
          <p class="w-full text-lg font-semibold text-gray-900">
            How do I change my account email?
          </p>
          <p class="w-full text-base leading-normal text-gray-600">
            You can change the email address associated with your account by
            going to account from a laptop or desktop.
          </p>
        </div>
      </div>
    </div>
    <div class="mt-10">
      <div
        class="flex flex-col justify-between rounded-md bg-gray-50 p-4 md:flex-row md:items-center md:p-8 lg:space-x-8">
        <div class="space-y-2">
          <p class="text-xl font-semibold leading-loose text-gray-900">
            Avez-vous toujours des quetions ?
          </p>
          <p class="text-base text-gray-600 md:text-lg md:leading-7">
            Vous ne trouvez pas la réponse que vous cherchiez.
          </p>
        </div>
        <button type="button"
          class="mt-4 rounded-md px-3 py-2 text-sm font-semibold text-white shadow-sm  focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-black md:mt-0">
          <a href="" class="text-white" routerLink="/">Contactez-nous</a>
        </button>
      </div>
    </div>
  </div>
</div>
</div>

