<footer>
  <div class="Container_Footer">
    <div class="Section_Container">
      <div class="Container_card">
        <img src="../../assets/logofooter.png" alt="">

      </div>

    </div>
    <div class="footer_Menu">
      <h5>Liens</h5>
      <p><a href="" routerLink="/"><i class="bi bi-arrow-right-short"></i> Accueil</a></p>
      <p><a href=""routerLink="/about"><i class="bi bi-arrow-right-short"></i> Qui sommes-nous ?</a></p>
      <p><a href="" routerLink="/profils"><i class="bi bi-arrow-right-short"></i> Profils</a></p>
    </div>
    <div class="footer_Menu">
      <h5>Conditions</h5>
      <p><a href="" routerLink="/conditionDeUse"><i class="bi bi-arrow-right-short"></i> Condition d'utilisation</a></p>
      <p><a href="" routerLink="/politique"><i class="bi bi-arrow-right-short"></i> Politique de confidentialité</a></p>
      <p><a href="" routerLink="/faq"><i class="bi bi-arrow-right-short"></i> FAQ</a></p>
    </div>
    <div class="footer_Menu">
      <h5>Autres</h5>
      <p><a href=""routerLink="/comment-ça-marche"><i class="bi bi-arrow-right-short"></i> Comment ça marche ?</a></p>
      <p><a href=""routerLink="/login"><i class="bi bi-arrow-right-short"></i> Se connecter</a></p>
      <p><a href="" routerLink="/signUp"><i class="bi bi-arrow-right-short"></i> S'inscrire</a></p>
    </div>
  </div>
  <br>
  <div class="Container_Newsletters">
    <div class="Section_Newsletter_icone">
      <i class="fa-brands fa-facebook"></i>&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;<i
        class="fa-brands fa-instagram"></i>
    </div>
    <!-- <div class="Section_Newsletter_input">
      <input type="text">
      <button id="incription1">S'inscrire</button>
    </div> -->
  </div>
  <script>

  </script>
  <hr>
  <span class="Copyright">Copyright <i class="fa-solid fa-copyright"></i> 2023 OUVRIER-EXPRESS</span><br><br>
</footer>
