/* Debut Section Footer */
footer {
  width: 100%;
  height: auto;
  background-color: #032540;
  color: white;
  margin-top: 250px;
}

.Container_Footer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.Container_Footer .Container_card {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  max-width: 250px;
  height: 240px;
  padding: 5em;
  position: relative;
  top: -120px;
  transform: rotate(-45deg);
  color: black;
}

.Container_card img {
  transform: rotate(45deg);
  width: 100px;
  height: 100px;
  position: relative;
  top: -20px;
}

.Container_card h6 {
  transform: rotate(45deg);
  text-align: justify;
  position: relative;
  left: -30px;
  top: -25px;
  font-size: 9px;
  font-weight: bold;
}

.Section_Newsletter_icone i {
  background-color: white;
  padding: 0.5em;
  border-radius: 50%;
  color: black;
  margin-right: 10px;
}

.footer_Menu {
  padding-top: 4em;
}

.Container_Newsletters {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Section_Newsletter_input input {
  width: 420px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
}

.Section_Newsletter_input button {
  padding: 0.5em;
  background-color: white;
  color: black;
  border: none;
  outline: none;
  border-radius: 5px;
}

footer hr {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 30px;
}

.Copyright {
  display: block;
  margin: auto;
  width: 300px;
  margin-top: 30px;
}

@media screen and (max-width:950px) {
  .Container_Footer {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    align-items: center;
  }
}

.Container_Footer a {
  text-decoration: none;
  color: white;
}

.footer_Menu a:hover {
  color: darkorange;
}

/* Fin Section Footer */

@media screen and (max-width:700px) {
  .Container_Newsletters {
    display: flex;
    justify-content: center;
    /* flex-wrap: wrap; */
  }

 

  .Section_Newsletter_input input {
    margin-bottom: 10px;
    max-width: 300px;
  }

  .Section_Newsletter_input button {
    display: block;
    margin: auto;
  }



  .Container_Footer {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    align-items: center;

  }



}
