 <footer>
            <div class="Container_Footer">
                <div class="Section_Container">
                    <div class="Container_card">
                        <img src="../../assets/logo.png" alt="">
                    </div>

                </div>
                <div class="footer_Menu">
                  <h5>Liens</h5>
                  <p><a href="">Accueil</a></p>
                  <p><a href="">Profils</a></p>
                  <p><a href="">Qui sommes-nous ?</a></p>
                </div>
                <div class="footer_Menu">
                  <h5>Conditions</h5>
                  <p><a href="">Conditions d'utilisation</a></p>
                  <p><a href="">Politique de confidentialité</a></p>
                  <p><a href="">FAQ</a></p>
                </div>
                <div class="footer_Menu">
                  <h5>Autres</h5>
                  <p><a href="">Connexion</a></p>
                  <p><a href="">Comment ça marche ?</a></p>
                </div>
            </div>
            <div class="Container_Newsletters">
                <div class="Section_Newsletter_icone">
                    <i class="fa-brands fa-facebook"></i>&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;<i class="fa-brands fa-instagram"></i>
                </div>
                <div class="Section_Newsletter_input">
                    <input type="text" placeholder="Tapez votre email ici">
                   &nbsp; <button id="incription1">S'inscrire</button>
                </div>
            </div>
            <script>

            </script>
            <hr>
            <span class="Copyright">Copyright <i class="fa-solid fa-copyright"></i>  2024 OUVRIER-EXPRESS</span><br><br>
        </footer>
