<footer>
  <div class="Container_Footer">
    <div class="Section_Container">
      <div class="Container_card">
        <img src="../../assets/logofooter.png" alt="">

      </div>

    </div>
    <div class="footer_Menu">
      <h5>Liens</h5>
      <p><a href="" routerLink="/">Accueil</a></p>
      <p><a href=""routerLink="/about">Qui sommes-nous ?</a></p>
      <p><a href="" routerLink="/profils">Profils</a></p>
    </div>
    <div class="footer_Menu">
      <h5>Conditions</h5>
      <p><a href="" routerLink="/conditionDeUse">Condition d'utilisation</a></p>
      <p><a href="" routerLink="/politique">Politique de confidentialité</a></p>
      <p><a href="" routerLink="/faq">FAQ</a></p>
    </div>
    <div class="footer_Menu">
      <h5>Autres</h5>
      <p><a href=""routerLink="/comment-ça-marche">Comment ça marche ?</a></p>
      <p><a href=""routerLink="/login">Se connecter</a></p>
      <p><a href="" routerLink="/signUp">S'inscrire</a></p>
    </div>
  </div>
  <br>
  <div class="Container_Newsletters">
    <div class="Section_Newsletter_icone">
      <i class="fa-brands fa-facebook"></i>&nbsp;<i class="fa-brands fa-twitter"></i>&nbsp;<i
        class="fa-brands fa-instagram"></i>
    </div>
    <!-- <div class="Section_Newsletter_input">
      <input type="text">
      <button id="incription1">S'inscrire</button>
    </div> -->
  </div>
  <script>

  </script>
  <hr>
  <span class="Copyright">Copyright <i class="fa-solid fa-copyright"></i> 2023 OUVRIER-EXPRESS</span><br><br>
</footer>
