<div class="main-content">
  <div class="navbar">
    <!-- <app-navbar class="w-100" (toggleSidebarEvent)="toggleSidebar()"></app-navbar> -->
    <app-navbar-admin class="w-100" (toggleSidebarEvent)="toggleSidebar()"></app-navbar-admin>
  </div>

  <div class="row m-0 p-0">
    <div class="sidebar d-md-block col-md-2 m-0 p-0" *ngIf="isSidebarVisible">
      <!-- <app-sidebar></app-sidebar> -->
      <app-sidebar-admin></app-sidebar-admin>
    </div>

    <div class=" m-0 contenu border" [ngClass]="{'col-md-10': isSidebarVisible, 'col-md-12': !isSidebarVisible}">
      <router-outlet></router-outlet>
    </div>

  </div>

</div>
