<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
    <app-navbar></app-navbar>

    <!-- les statistiques -->
    <div class="statistique">
      <!-- ------------------------------ -->
      <div class="bloc">
        <div class="icon-txt">
          <div>
            <i class="bi bi-person-walking"></i>
          </div>
          <div>
           <p><sup>+</sup>{{prestataires.length}} Prestataires</p>
          </div>
        </div>
      </div>
      <!-- ---- -->
      <div class="bloc">
        <div class="icon-txt">
          <div>
            <i class="bi bi-person-raised-hand"></i>
          </div>
          <div>
            <p><sup>+</sup>{{clients.length}} Clients</p>
          </div>
        </div>
      </div>
      <!-- --- -->
      <div class="bloc">
        <div class="icon-txt">
          <div>
            <i class="bi bi-eye"></i>
          </div>
          <div>
            <p><sup>+</sup>Total: {{users.length -1}}</p>
          </div>
        </div>
      </div>
    </div>


    <!-- tableau liste user -->
    <div class="container">
      <h2>Nos utilisateurs</h2>
      <br>
      <div class="input-group">
        <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"> -->
        <!-- <input type="text" name="search" class="form-control" [(ngModel)]="filterValue" (input)="onSearch()"
          placeholder="Rechercher ......" > -->
      </div>
      <br>
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Prenom</th>
            <th scope="col">Nom</th>
            <th scope="col">Email</th>
            <th scope="col">tel</th>
            <th scope="col">adress</th>
            <th scope="col">Rôle</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of getItemsPage()">
            <td>{{user.id}}</td>
            <td>{{user.prenom}}</td>
            <td>{{user.nom}}</td>
            <td>{{user.email}}</td>
            <td>{{user.tel}}</td>
            <td>{{user.adress}}</td>
            <td>{{user.role}}</td>
          </tr>

        </tbody>
      </table>
    </div>

  <div class="pagination mb-5" *ngIf="getItemsPage().length">
    <div>
      <div class="d-flex justify-content-end mb-2">
        <button class="rounded-2 btnColor  mx-2" [disabled]="pageActuelle === 1"
          (click)="pageActuelle = pageActuelle - 1">
          <i class="bi bi-arrow-left-circle-fill me-2"></i>
        </button>
        <button class=" mx-2 page" *ngFor="let page of pages" (click)="pageActuelle = page">
          <span class="pageActuelle fs-5" *ngIf="page===pageActuelle">{{page}}</span>
          <span *ngIf="page != pageActuelle">{{page}}</span>
          <!-- {{ page }} -->
        </button>
        <button class="rounded-2 btnColor mx-2" [disabled]="pageActuelle === totalPages"
          (click)="pageActuelle = pageActuelle + 1">
          <i class="bi bi-arrow-right-circle-fill"></i>
        </button>
      </div>
    </div>


    </div>
    </div>
