<app-entete></app-entete>
<!-- Banniere -->
<div class="banner">
  <img src="../../assets/cmt-ça-marche.png" alt="">
</div>
<!-- fin banniere -->


<!-- premier section avec titre et une image en dessous -->
<br>
<div class="container">
  <section class="first">
    <div class="entete">
      <i class="fa-solid fa-diamond"></i>
      <h3>Comment ça marche !</h3>
      <p>Découvrez les differentes parties pour la création de votre compte</p>
    </div>
    <br>
    <div class="img1">
      <img src="../../assets/img1.png" alt="">
    </div>
  </section>


  <section class="second">
    <div class="etape1">
      <div>
        <h1>Etape 1</h1>
        <p class="txt">
          Une fois sur la page d'accueil de la plateforme,
          cliquer sur le bouton “<i>Se connecter</i> ” qui va vous
          rediriger sur la page de connexion.


          Renseigner ces champs pour vous connecter;
          sinon, si vous ne disposez pas de compte, suivez
          l'étape 2
        </p>
      </div>
      <!-- ----------- -->
      <div class="imgCentrered">
        <img src="../../assets/img2.png" alt="">
      </div>
    </div>
  </section>


  <section class="three">
    <div class="etape1">
      <h1 class="open">Etape 2</h1>
      <div class="imgCentrered">
        <img src="../../assets/img3.png" alt="">
      </div>
      <!-- ----------- -->
      <div class="txt">
        <h1 class="hide">Etape 2</h1>
        <p>
          Cliquer sur le lien “<i>inscrivez-vous</i>” pour aller vers
          la page d'incription. Mettez les informations
          demandées selon le label des champs,

          ensuite cliquez sur “Enregistrer” s'assurer que
          vos informations sont bien ajoutées et que vous
          disposez maintenant d'un compte
        </p>


      </div>
    </div>
  </section>



  <section class="four">
    <div class="etape4">
      <div class="texte">
        <h1>Etape 3</h1>
        <p>
          Maintenant que vous vous êtes connectés, vous
          avez la possibilité de mofifier votre profil à chaque
          fois que cela vous chante. Vous pouvez également
          ajouter une photo de profil
        </p>
      </div>
      <!-- ------------- -->
      <div>
        <img src="../../assets/img4.png" alt="">
      </div>
    </div>
  </section>

</div>

<app-footer></app-footer>
