<header class="header">
  <div class="bleu">
    <p>Bienvenue dans la plateforme OUVRIER-EXPRESS</p>
    <ul>
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-linkedin"></i></li>
    </ul>
  </div>
  <!-- ------------------------ -->
  <nav class="navbar">
    <h2 class="logo"><a href="#"><img src="../../assets/logo.png" alt="" height="70px"></a>
    </h2>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" id="hamburger-btn">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      </svg>
    </label>
    <ul class="links">
      <li><a href="#" >Accueil</a></li>
      <li><a href="#" >Profils</a></li>
      <li><a href="#" >Comment ça marche ?</a></li>
      <li><a href="#" >A propos</a></li>
    </ul>
    <div class="buttons">
      <a href="#" class="signup" >Se connecter <i class="bi bi-person-fill"></i></a>
    </div>
  </nav>
</header>
