<!-- <header class="header">
  <div class="bleu">
    <p>Bienvenue dans la plateforme OUVRIER-EXPRESS</p>
    <ul>
      <li><i class="bi bi-facebook"></i></li>
      <li><i class="bi bi-instagram"></i></li>
      <li><i class="bi bi-twitter"></i></li>
      <li><i class="bi bi-linkedin"></i></li>
    </ul>
  </div>

  <nav class="navbar">
    <h2 class="logo"><a href="#"><img src="../../assets/logo.png" alt="" height="70px"></a>
    </h2>
    <input type="checkbox" id="menu-toggle" />
    <label for="menu-toggle" id="hamburger-btn">
      <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24">
        <path d="M3 12h18M3 6h18M3 18h18" stroke="currentColor" stroke-width="2" stroke-linecap="round" />
      </svg>
    </label>
    <ul class="links">
      <li><a href="#"  [ngClass]="{'active': boutonActif === 1}" (click)="boutonActif = 1" routerLink="/">Accueil</a></li>
      <li><a href="#"  [ngClass]="{'active': boutonActif === 2}" (click)="boutonActif = 2" routerLink="/profils">Profils</a></li>
      <li><a href="#"  [ngClass]="{'active': boutonActif === 3}" (click)="boutonActif = 3" routerLink="/comment-ça-marche">Comment ça marche ?</a></li>
      <li><a href="#"  [ngClass]="{'active': boutonActif === 4}" (click)="boutonActif = 4" routerLink="/about">A propos</a></li>
    </ul>
    <div class="btnConnect">
      <app-btn-login ></app-btn-login>
    </div>

  </nav>
</header>



 -->
<div class="bleu">
  <p>Bienvenue dans la plateforme OUVRIER-EXPRESS</p>
  <ul>
    <li><i class="bi bi-facebook"></i></li>
    <li><i class="bi bi-instagram"></i></li>
    <li><i class="bi bi-twitter"></i></li>
    <li><i class="bi bi-linkedin"></i></li>
  </ul>
</div>
<div class="Navigation ">
  <nav class="navbar navbar-expand-md">
    <div class="container-fluid">
      <a class="navbar-brand logo" routerLink="/">
        <img src="../../assets/logo.png" class="img-fluid" alt="">
      </a>
      <button class="navbar-toggler burger collapsed text-white" type="button" data-bs-toggle="collapse"
        data-bs-target="#navigationMenu" aria-controls="navigationMenu" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class=""><i class="fa-solid fa-bars"></i></span>
      </button>

      <div class="navbar-collapse collapse " id="navigationMenu">
        <ul class="navbar-nav mx-auto justify-content-center mb-lg-0">
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/">Accueil</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/profils">Profils</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/comment-ça-marche">Comment ça marche</a>
          </li>
          <li class="nav-item mx-2">
            <a class="nav-link" routerLinkActive="activeLink" routerLink="/about">A propos</a>
          </li>

        </ul>
        <!-- <app-login-user *ngIf="!isLoggedIn()"></app-login-user>
        <app-logout-user *ngIf="isLoggedIn()"></app-logout-user> -->
          <div class="btnConnect">
            <app-btn-login></app-btn-login>
          </div>

      </div>

    </div>
  </nav>
</div>
