<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
  <app-navbar></app-navbar>
    <h2>liste des emails des utilisateurs</h2>
  <!-- gestion des messages -->
  <div class="container">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Email</th>
          <th scope="col">Messages</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>libass@gmail.com</td>
          <td>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit illo dignissimos fugiat aliquid
            ab laboriosam at magnam dolor quibusdam facere, voluptas amet eveniet rerum explicabo modi et
            aspernatur. Maiores, ea. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit illo dignissimos
            fugiat aliquid
            ab laboriosam at magnam dolor quibusdam facere, voluptas amet eveniet rerum explicabo modi et
            aspernatur. Maiores, ea.</td>
            <td><a href="mailto:libasse345ndoyecisse@gmail.com?subject=Retour de la plateforme OUVRIER-EXPRESS">Répondre</a>
</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>astou@gmail.com</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium provident voluptatibus
            accusamus labore blanditiis cupiditate neque ea, animi laudantium! Facilis error deleniti iste
            quaerat placeat exercitationem porro a harum?</td>
            <td><a href="mailto:libasse345ndoyecisse@gmail.com?subject=Retour de la plateforme OUVRIER-EXPRESS">Répondre</a>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>yama@gmail.com</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium provident voluptatibus
            accusamus labore blanditiis cupiditate neque ea, animi laudantium! Facilis error deleniti iste
            quaerat placeat exercitationem porro a harum?</td>
            <td><a href="mailto:libasse345ndoyecisse@gmail.com?subject=Retour de la plateforme OUVRIER-EXPRESS">Répondre</a>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>dieynaba@gmail.com</td>
          <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse accusantium provident voluptatibus
            accusamus labore blanditiis cupiditate neque ea, animi laudantium! Facilis error deleniti iste
            quaerat placeat exercitationem porro a harum?</td>
            <td><a href="mailto:libasse345ndoyecisse@gmail.com?subject=Retour de la plateforme OUVRIER-EXPRESS">Répondre</a>
        </tr>

      </tbody>
    </table>
  </div>
  </div>
  </div>
