<!-- <app-accueil></app-accueil> -->
<!-- <app-apropos></app-apropos> -->
<!-- <app-faq></app-faq> -->
<!-- <app-connexion></app-connexion> -->
<!-- <app-inscription></app-inscription> -->
<!-- <app-entete></app-entete> -->
<!-- <app-espace-ouvrier></app-espace-ouvrier> -->
<!-- <app-guide></app-guide> -->
<!-- <app-condition-use></app-condition-use> -->
<!-- <app-politique-confi></app-politique-confi> -->
<!-- <app-footer></app-footer> -->
<!-- <app-dash-client></app-dash-client> -->
<!-- <app-sidebar></app-sidebar> -->
<!-- <app-dash-prestataire></app-dash-prestataire> -->
<router-outlet></router-outlet>
<!-- <app-btn-login></app-btn-login> -->
<!-- <app-gestion-categorie></app-gestion-categorie> -->
<!-- <app-btn-logout></app-btn-logout> -->
