<div class="page">
<p class="retour"><i class="fa-solid fa-left-long" style="color: #ffffff;"></i><a href=""> Retour à l'accueil</a></p>

<!-- description et formulaire -->
<div class="form-txt">
  <div class="description">
    <p><b>OUVRIER-EXPRESS</b>,<br>l'alliance parfaite entre compétence et opportunité ! Connectons savoir-faire et besoins en un clic,
    pour un monde du travail plus rapide et efficace. </p>
  </div>
  <div class="form">
      <form action="">
        <img src="../../assets/logo.png" alt="">
        <h3>Connectez-vous !</h3>
        <br>
        <label for="">Email:</label><br>
        <input type="text" name="email"><br>
        <label for="" class="lab">Mot de passe:</label><br>
        <input type="text" name="mdp"><br><br>
        <button class="btn">
          Se connecter
        </button>
        <br><br>
        <p class="bas">Vous ne disposez pas de compte. <a href=""><i>Inscrivez-vous</i></a></p>
        <br>
      </form>
    </div>
</div>

</div>
