<div class="sidebar">

  <a href="#" routerLink="/accueil"><img src="../../../../assets/logo.png" alt="" class="logo"></a>


  <!-- Les liens  -->
  <ul class="mt-4 containerLink mb-4">

    <!-- Dashbord  -->
    <li class="mt-4" >
      <a href="" routerLinkActive="active" routerLink="/statistique">
        <span class="link ms-3 fs-5">Statistique</span>
      </a>
    </li>

    <!-- Reseaux  -->
    <li class="mt-4" >
      <a href="" routerLinkActive="active"  routerLink="/utilisateur">
        <span class="link ms-3 fs-5">Gestion users</span>
      </a>
    </li>

    <!-- Roles  -->
    <li class="mt-4" >
      <a href="" routerLinkActive="active"   routerLink="/category">
        <span class="link ms-3 fs-5">gestion Catégories</span>
      </a>
    </li>

    <!-- messages  -->
    <li class="mt-4" >
      <a href="" routerLinkActive="active"  routerLink="/messages">
        <span class="link ms-3 fs-5">Gestion mailing</span>
      </a>
    </li>
  </ul>


  <!-- Le boutton de déconnexion  -->
  <div class="deconnection">
    <button class="btn btnDeconnect fs-5">
      <span class="ms-3 link" (click)="logout()">Se déconnecter</span>
    </button>
  </div>
</div>
