
<div class="sidebar" >

  <div class="tete">
    <div>
      <a href="#" (click)="deconnecte()" routerLink="/accueil"><img src="../../../../assets/logo.png" alt=""
          class="logo"></a>
    </div>

  </div>

<br>
<br>

  <ul class="mt-4 containerLink mb-4">

    <li class="mt-4">
      <a href="" routerLinkActive="active" routerLink="/statistique">
        <span class="link ms-3 fs-5"><i class="bi bi-graph-up-arrow"></i> Statistique</span>
      </a>
    </li>

    <li class="mt-4">
      <a href="" routerLinkActive="active" routerLink="/utilisateur">
        <span class="link ms-3 fs-5"><i class="bi bi-people"></i> Utilisateurs</span>
      </a>
    </li>

    <li class="mt-4">
      <a href="" routerLinkActive="active" routerLink="/category">
        <span class="link ms-3 fs-5"><i class="bi bi-tags"></i> Catégories</span>
      </a>
    </li>

    <li class="mt-4">
      <a href="" routerLinkActive="active" routerLink="/messages">
        <span class="link ms-3 fs-5"><i class="bi bi-envelope-at"></i> Mailing</span>
      </a>
    </li>
  </ul>


  <div class="deconnection">
    <button class="btn btnDeconnect fs-5">
      <span class="ms-3 link" (click)="logout()">Deconnexion</span>
    </button>
  </div>
</div>
