* {
  font-family: 'Times New Roman', Times, serif;
}

.sidebar {
  background-color: #001D3D;
  padding: 4vh 3vh;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  width: 18.5%;
  transition: left 0.3s ease;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.sidebar.visible {
  left: 0;
}

/* Ajout de styles pour le bouton burger */
#burger-btn {
  font-size: 20px;
  cursor: pointer;
  background-color: #001D3D;
  color: white;
  border: none;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  /* Assurez-vous que le bouton burger est au-dessus du contenu */
}

#burger-btn:hover {
  background-color: #ff9500;
}

@media screen and (max-width: 1000px) {
  .sidebar {
    display: none;
    padding: 2vh;
    width: 70%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
  }

  #burger-btn {
    display: block;
  }

  .link {
    display: none;
  }

  .sidebar img {
    width: 100%;
  }

  .sidebar.visible {
    display: block;
  }
}

a img {
  width: 50%;
  background-color: #fff;
  padding: 7px 15px;
  margin: 0 auto;
  border-radius: 10px;
}

.sidebar img {
  width: 80%;
}


.containerLink {
  height: 75%;
  overflow: scroll;
}

/* Pour les navigateurs chrome et edge  */
.containerLink::-webkit-scrollbar {
  display: none;
}

ul li {
  list-style: none;
  margin-left: -3vh;
  line-height: 6vh;
}

ul li a {
  text-decoration: none;
  color: white;
}


@media screen and (max-width: 1000px) {
  .sidebar {
    padding: 2vh;
  }


  .link {
    display: none;

  }

  svg {
    width: 45px;
    height: 45px;
  }

  .link:hover {
    display: block;
  }

  .sidebar img {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .sidebar {
    padding: 2%;
  }
}

.deconnection {
  margin-top: -3rem;
}

.deconnection button {
  bottom: 0;
  background-color: #02092e;
  color: white;
  margin: 0 auto;
  width: 100%;
}

.deconnection button:hover {
  background-color: #ff9500;
}


li a {
  font-size: 16px !important;
}


.active {
  background-color: #ff9500;
  padding: 15px 15px;
  border-radius: 5px;
  padding-right: 20px;
}

.tete {
  display: flex;
  gap: 10px;
}

.menu i {
  font-size: 2rem;
  color: #fff;
}

.sidebar.hidden {
  left: -18.5%;
}

#menu {
  font-size: 20px;
  cursor: pointer;
  background-color: #001D3D;
  color: white;
  border: none;
  padding: 10px 15px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

/* #menu:hover {
  background-color: #ff9500;
} */
