 .conteneur-dash {
   display: grid;
   grid-template-columns: 30% 75%;
   justify-content: center;
   gap: 2px;
   padding: 0 2.25rem;

 }

 .blanc{
  color: #fff !important;
 }

 /* @media screen and (max-width: 1024px){
  .sidebar{
    width: 15rem !important;
  }
 } */

 @media screen and (max-width: 770px) {
   .conteneur-dash {
     display: grid;
     grid-template-columns: 1fr;
     justify-content: center;
     margin-top: 1rem;
     gap: 2px;
     padding: 5px 20px;
   }

   .sidebar{
    height: 35rem !important;
   }

   .info {
     margin-left: 13rem !important;
     margin-top: 1rem !important;
   }

   ul li {
     font-size: 14px !important;
     padding: 0 10px;
   }
 }

 @media screen and (max-width: 993px) {
   p {
     font-size: 14.5px;
   }

   b {
     font-size: 18.5px;
     color: #c46f00;
   }

 }

 @media screen and (max-width: 580px) {
   .info {
     margin-left: 10rem !important;
   }

 }

 @media screen and (max-width: 465px) {
   .info {
     margin-left: 8rem !important;
   }

 }

 @media screen and (max-width: 414px) {
   .info {
     margin-left: 6rem !important;
   }

 }



 @media screen and (max-width: 391px) {
   .info {
     margin-left: 5rem !important;
   }

 }

 @media screen and (max-width: 395px) {
   .info {
     margin-left: 7rem !important;
   }

 }

 @media screen and (max-width: 993px) {
   p {
     font-size: 14.5px;
   }

   b {
     font-size: 18.5px;
     color: #c46f00;
   }

 }

 .imgProfil img {
   width: 120px;
   height: 125px;
   border-radius: 50%;
   margin-top: 1.5rem;
   box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 .imgProfil {
   display: flex;
   justify-content: center;
 }

 .sidebar {
   height: 100vh;
   background-color: #0b0733;
   border-radius: 5px;
   box-shadow: rgba(129, 129, 129, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
 }

 .contenu {
   background-color: #fff;
   border-radius: 5px;
 }

 .info {
   padding-left: 1rem;
   margin-top: 3rem;
  color: #fff !important;
 }

 p {
   font-size: 16px;

 }

 b {
   font-size: 20px;
   color: #c46f00;
 }

 ul {
   display: flex;
   justify-content: center;
   padding: 15px 10px;
   flex-wrap: wrap;
   /* background-color: #0b043b; */
   padding: 15px 10px;
 }

 .tab-content {
   padding: 0 20px;
 }

 ::placeholder {
   font-size: 13px;
   color: #989898;
 }

 .lnc {
   color: rgb(0, 0, 0) !important;

   &.active {
     background-color: #0b0733 !important;
     color: #ffffff !important;
   }
 }

 .all {
   background-color: #ffffff;
   height: 100vh;
   width: 100%;
 }

 .s1 {
   display: flex;
   justify-content: center;
   gap: 2rem;
   flex-wrap: wrap;
 }

 .card-img-top {
   border-radius: 60%;
   width: 50%;
   padding-top: 10px;
   margin: 0 auto;

 }

 .row-cols-1 {
   text-align: center;
   padding: 0 15px;
 }

 /* navbar */

 table {
   padding: 0 15px;
 }

 /* mon header--------------------------------- */
 .firstCouche {
   background-color: #0e0a36;
   width: 100%;
   height: 40px;
   display: flex;
   justify-content: space-between;
 }

 .icon ul {
   display: flex;
 }

 .icon ul li {
   margin-right: 10px;
   list-style: none;
   border: 1px solid #fff;
   border-radius: 50%;
   padding: 1px 3px;
 }

 .icon ul li i {
   font-size: 12px;
   margin: 0 auto;
 }

 .conteneur-table {
   width: 95%;
   margin: 0 auto;
 }

 .info p {
   color: #fff !important;
 }

 /* --------------------------------------------------------________________ */
 form {
   padding: 10px 30px;
 }

 select {
   width: 100%;
   padding: 7px 0;
   border: none;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   border-radius: 5px;
 }

 textarea {
   width: 100%;
   padding: 7px 0;
   border: none;
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
   border-radius: 5px;
 }

 .col {
   padding-bottom: 15px;
 }

 label {
   display: flex;
   justify-content: flex-start;
 }

 .edit {
   display: flex;
   justify-content: center;
   margin-top: 1rem;
 }

 .edit a {
   color: #000000;
   font-size: 18px;
 }

 .edit a:hover {
   background-color: #ffffff;
   padding: 7px 15px;
   border-radius: 10px;
   color: rgb(0, 0, 0) !important;
   text-decoration: none;
 }

 input {
   box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
 }

 .srch input
{
  width: 30%;
  padding: 7px 15px;
  border-radius: 10px;
}

.srch
{
  display: flex;
  justify-content: flex-end;
}

thead
{
  background-color: #0d0a3c;

}

thead th{
  color: #fff !important;
}

.modal-body input{
  width: 100%;
  padding: 7px 0;
  border-radius: 7px;
}

.modal-body label{
  margin-top: 12px;
}

.hhh{
  background-color: #0d0a3c;
  color: #fff;
}

.valider button
{
  width: 95%;
  padding: 8px 0;
  background-color: #0b0733;
  color: white;
  font-size: 17px;
  font-weight: 600;
}

.valider{
  display: flex;
  justify-content: center;
}

.valider button:hover{
  background-color: #c46f00;
}

.imgProfil input{
  width: 97%;
}

form button{
  background-color: #0b0733;
  padding: 7px 13px;
  color: #fff;
  width: 95%;
  margin-left: 1rem ;

}

form button:hover{
  background-color: #c46f00;
}

#resumer .col p {
  background-color: #fbfbfb;
  padding: 10px 12px;

}

.editing{
  display: flex;
  justify-content: flex-end;
}

.editing button{
  padding: 5px 8px;
  border-radius: 5px;
  font-size: 1rem;
  font-weight: 600;
  background-color: #989898;
  color: #fff;
}

.editing button:hover{
  background-color: #0b0733;
  color: #fff;
}

.disconnect button{
  /* background-color: #f5f5f5; */
  padding: 5px 10px;
  border-radius: 4px;
  color: #fff ;
}

.disconnect button:hover{
  background-color: #989898;
}

.disconnect
{
  display: flex;
  justify-content: center;
  margin-top: 5px;
}
.metier
{
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: #f5f5f5;

}
