<!-- <app-entete></app-entete> -->
<div class="all">

  <div class="conteneur-dash">
    <div class="sidebar">
      <!-- <div class="logo d-flex justify-content=center">
        <img src="../../assets/logo.png" alt="">
      </div> -->
      <div class="imgProfil" *ngFor="let profile of tabPrestataireFilter">
        <img src="http://127.0.0.1:8000/storage/{{profile.images}}" alt="">
      </div>

      <!-- bouton editer profil -->
      <div class="edit">
        <a href="" class="btn blanc" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifier mon profil <i
            class="bi bi-pencil-square"></i></a>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 m-auto" id="exampleModalLabel">Modification de profil</h1>
            </div>
            <div class="modal-body">
              <form action="">
                <label>Prenom</label>
                <input type="text" value="{{userConnect.prenom}}" [(ngModel)]="prenom"><br>
                <label>Nom</label>
                <input type="text" value="{{userConnect.nom}}" [(ngModel)]="nom"><br>
                <label>Téléphone</label>
                <input type="text" value="{{userConnect.email}}" [(ngModel)]="tel"><br>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn hhh" (click)="modifUser()">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
      <!-- bouton editer profil -->


      <div class="info">
        <div>
          <b>Prénom: </b>
          <p>{{userConnect.prenom}}</p>
          <b>Nom: </b>
          <p>{{userConnect.nom}}</p>
          <b>Email: </b>
          <p>{{userConnect.email}}</p>
          <b>Téléphone: </b>
          <p>{{userConnect.tel}}</p>
        </div>

      </div>
      <br>
      <div class="disconnect">
        <button (click)="logout()">Se Déconnecter</button>
      </div>


    </div>
    <!-- ------------ -->
    <div class="contenu">
      <br>
      <ul class="nav nav-pills mb- d-flex" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link lnc active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Publier mon profil</button>
        </li>
        <!-- <li class="nav-item" role="presentation">
          <button class="nav-link lnc" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Publier mon profil</button>
        </li> -->
        <li class="nav-item" role="presentation">
          <button class="nav-link lnc" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"
            (click)="getlistePrestaService()">Ma publication</button>
        </li>
      </ul>
      <hr>
      <div class="tab-content" id="pills-tabContent">
        <!-- historique -->
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
          tabindex="0">
          <div class="formulair" [attr.disabled]="profilPublie ? 'disabled' : null">
            <form action="" enctype="multipart/form-data">
              <label>&nbsp;&nbsp; Image</label>
              <div class="imgProfil">
                <input type="file" value="" name="image" [(ngModel)]="image" (change)="getFile($event)"
                  [disabled]="profilPublie"><br>
              </div>
              <br>
              <div class="row row-cols-1 row-cols-md-2">

                <div class="col">
                  <label for="category">Catégorie</label>
                  <select name="category" id="category" name="categorie" required="" [(ngModel)]="categorie"
                    [disabled]="profilPublie">
                    <option value="" disabled selected>Sélectionner une catégorie</option>
                    <option *ngFor="let categorie of categories" [value]="categorie.id">
                      {{categorie.libelleCategorie}}
                    </option>

                  </select>
                </div>

                <div class="col">
                  <label for="metier">Métier</label>
                  <input type="text" name="metier" class="form-control" placeholder="Métier" required=""
                    [(ngModel)]="metier" [disabled]="profilPublie">
                </div>

                <div class="col">
                  <label for="description">Description</label>
                  <textarea name="description" cols="77" rows="10" required="" [(ngModel)]="presentation"
                    [disabled]="profilPublie"></textarea>
                </div>

                <div class="col">
                  <label for="competences">Compétences</label>
                  <textarea name="competences" cols="77" rows="10" required="" [(ngModel)]="competence"
                    [disabled]="profilPublie"></textarea>
                </div>

                <div class="col">
                  <label for="experiences">Expériences</label>
                  <textarea name="experiences" cols="77" rows="10" required="" [(ngModel)]="experience"
                    [disabled]="profilPublie"></textarea>
                </div>

                <div class="col">
                  <label for="motivation">Motivation</label>
                  <textarea name="motivation" cols="77" rows="10" required="" [(ngModel)]="motivation"
                    [disabled]="profilPublie"></textarea>
                </div>
              </div>
              <button type="submit" (click)="ajoutProfil()" [disabled]="profilPublie">Publier le profil</button>
            </form>
          </div>
        </div>

        <!-- publication de profil -->
        <!-- <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
        </div> -->

        <!-- ma publication -->
        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
          <!-- Modal -->
          <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Modifier votre publication</h1>
                </div>
                <div class="modal-body">
                  <form action="" class="editer" enctype="multipart/form-data">
                    <label>&nbsp;&nbsp; Image</label>
                    <div class="imgProfil ntn">
                      <input type="file" value="" name="image" [(ngModel)]="image" (change)="getFile($event)"><br>
                    </div>
                    <br>
                    <div class="row row-cols-1 row-cols-md-2">

                      <div class="col">
                        <label for="category">Catégorie</label>
                        <select name="category" id="category" name="categorie" required="">
                          <option value="" disabled selected>Sélectionner une catégorie</option>
                          <option *ngFor="let categorie of categories" [value]="categorie.id">
                            {{categorie.libelleCategorie}}
                          </option>
                        </select>
                      </div>

                      <div class="col">
                        <label for="metier">Métier</label>
                        <input type="text" name="metier" class="form-control metierEdit" placeholder=" Métier"
                          [(ngModel)]="metier" required="">
                      </div>

                      <div class="col">
                        <label for="description">Description</label>
                        <textarea name="description" cols="77" rows="10" required=""
                          [(ngModel)]="presentation"></textarea>
                      </div>

                      <div class="col">
                        <label for="competences">Compétences</label>
                        <textarea name="competences" cols="77" rows="10" required=""
                          [(ngModel)]="competence"></textarea>
                      </div>

                      <div class="col">
                        <label for="experiences">Expériences</label>
                        <textarea name="experiences" cols="77" rows="10" required=""
                          [(ngModel)]="experience"></textarea>
                      </div>

                      <div class="col">
                        <label for="motivation">Motivation</label>
                        <textarea name="motivation" cols="77" rows="10" required="" [(ngModel)]="motivation"></textarea>
                      </div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="button" class="save" (click)="updateProfil()">Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngFor="let profile of tabPrestataireFilter">
            <div class="editing">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModall"
                (click)="loadPublicationInfo(profile)">Modifier <i class="bi bi-pencil-square"></i>
              </button> &nbsp;
              <button class="deleteProfile">Supprimer <i class="bi bi-trash"></i></button>
            </div>
            <br>
            <div class="metier mb-4">
              <div>
                <h4>Metier</h4>
                <p>{{profile.metier}}</p>
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2" id="resumer">
              <div class="col">
                <h4>Description</h4>
                <p>{{profile.presentation}}</p>
              </div>
              <div class="col">
                <h4>Compêtences</h4>
                <p>{{profile.competence}}</p>
              </div>
              <div class="col">
                <h4>Experiences</h4>
                <p>{{profile.experience}}</p>
              </div>
              <div class="col">
                <h4>Motivation</h4>
                <p>{{profile.motivation}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
