<!-- <app-entete></app-entete> -->

<div class="all">

  <div class="conteneur-dash">
    <div class="sidebar">
      <div class="imgProfil" *ngFor="let profile of tabPrestataireFilter">
        <img src="http://127.0.0.1:8000/storage/{{profile.images}}" alt="">
      </div>

      <!-- bouton editer profil -->
      <div class="edit">
        <a href="" class="btn blanc" data-bs-toggle="modal" data-bs-target="#exampleModal">Modifier mon profil <i
            class="bi bi-pencil-square"></i></a>
      </div>
      <div class="disconnect">
        <button (click)="logout()">Se Déconnecter</button>
      </div>
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5 m-auto" id="exampleModalLabel">Modification de profil</h1>
            </div>
            <div class="modal-body">
              <form action="">
                <label>Prenom</label>
                <input type="text" value=""><br>
                <label>Nom</label>
                <input type="text" value=""><br>
                <label>Téléphone</label>
                <input type="text" value=""><br>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
              <button type="button" class="btn hhh">Enregistrer</button>
            </div>
          </div>
        </div>
      </div>
      <!-- bouton editer profil -->


      <div class="info">
        <p><b>Prénom: </b>{{userConnect.prenom}}</p>
        <p><b>Nom: </b>{{userConnect.nom}}</p>
        <p><b>Email: </b>{{userConnect.email}}</p>
        <p><b>Téléphone: </b>{{userConnect.tel}}</p>
      </div>


    </div>
    <!-- ------------ -->
    <div class="contenu">
      <br>
      <ul class="nav nav-pills mb- d-flex" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link lnc active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
            type="button" role="tab" aria-controls="pills-home" aria-selected="true">Historique</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link lnc" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
            type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Publier mon profil</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link lnc" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"
            (click)="getlistePrestaService()">Ma publication</button>
        </li>
      </ul>
      <hr>
      <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
          tabindex="0">
          <!-- historique -->

          <div class="conteneur-table">
            <br>
            <div class="srch">
              <input type="text" placeholder="Rechercher ici...">
            </div>
            <br>
            <table class="table table-striped table-hover table-responsive">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Prenom</th>
                  <th scope="col">Nom</th>
                  <th scope="col">Email</th>
                  <th scope="col">Date</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngIf="userConnect">
                  <th scope="row">1</th>
                  <td>{{prenomClient}}</td>
                  <td>{{ nomClient }}</td>
                  <td>{{ emailClient }}</td>
                  <td>24/12/2023</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Dieynaba</td>
                  <td>Sene</td>
                  <td>senedieynaba.com</td>
                  <td>12/02/2023</td>
                </tr>

                <tr>
                  <th scope="row">3</th>
                  <td>Malick</td>
                  <td>Fall</td>
                  <td>malickfall.com</td>
                  <td>28/03/2023</td>
                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>André</td>
                  <td>Ndione</td>
                  <td>andre26.com</td>
                  <td>28/03/2023</td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>André</td>
                  <td>Ndione</td>
                  <td>andre26.com</td>
                  <td>28/03/2023</td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>André</td>
                  <td>Ndione</td>
                  <td>andre26.com</td>
                  <td>28/03/2023</td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>André</td>
                  <td>Ndione</td>
                  <td>andre26.com</td>
                  <td>28/03/2023</td>

                </tr>
                <tr>
                  <th scope="row">4</th>
                  <td>André</td>
                  <td>Ndione</td>
                  <td>andre26.com</td>
                  <td>28/03/2023</td>

                </tr>

              </tbody>
            </table>
          </div>

        </div>
        <!-- fin editer profil -->

        <!-- ----------------------------------------------------------------------------- -->
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
          <!-- Publication de profil -->
          <div class="formulair">
            <form action="">
              <label>&nbsp;&nbsp; Image</label>
              <div class="imgProfil">
                <input type="file" value="" name="image" [(ngModel)]="image" (change)="getFile($event)"><br>
              </div>
              <br>
              <div class="row row-cols-1 row-cols-md-2">

                <div class="col">
                  <label for="category">Catégorie</label>
                  <select name="category" id="category" name="categorie" required="" [(ngModel)]="categorie">
                    <option value="" disabled selected>Sélectionner une catégorie</option>
                    <option *ngFor="let categorie of categories" [value]="categorie.id">{{categorie.libelleCategorie}}
                    </option>

                  </select>
                </div>

                <div class="col">
                  <label for="metier">Métier</label>
                  <input type="text" name="metier" class="form-control" placeholder="Métier" required=""
                    [(ngModel)]="metier">
                </div>

                <div class="col">
                  <label for="description">Description</label>
                  <textarea name="description" cols="77" rows="10" required="" [(ngModel)]="presentation"></textarea>
                </div>

                <div class="col">
                  <label for="competences">Compétences</label>
                  <textarea name="competences" cols="77" rows="10" required="" [(ngModel)]="competence"></textarea>
                </div>

                <div class="col">
                  <label for="experiences">Expériences</label>
                  <textarea name="experiences" cols="77" rows="10" required="" [(ngModel)]="experience"></textarea>
                </div>

                <div class="col">
                  <label for="motivation">Motivation</label>
                  <textarea name="motivation" cols="77" rows="10" required="" [(ngModel)]="motivation"></textarea>
                </div>
              </div>
              <button type="submit" (click)="ajoutProfil()">Publier le profil</button>
            </form>
          </div>

        </div>

        <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">


          <!-- Modal -->
          <div class="modal fade" id="exampleModall" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5 mx-auto" id="exampleModalLabel">Modifier votre publication</h1>
                </div>
                <div class="modal-body">
                  <form action="" class="editer" enctype="multipart/form-data">
                    <label>&nbsp;&nbsp; Image</label>
                    <div class="imgProfil ntn">
                      <input type="file" value="" name="image" [(ngModel)]="image" (change)="getFile($event)"><br>
                    </div>
                    <br>
                    <div class="row row-cols-1 row-cols-md-2">

                      <div class="col">
                        <label for="category">Catégorie</label>
                        <select name="category" id="category" name="categorie" required="">
                          <option value="" disabled selected>Sélectionner une catégorie</option>
                          <option *ngFor="let categorie of categories" [value]="categorie.id">
                            {{categorie.libelleCategorie}}
                          </option>
                        </select>
                      </div>

                      <div class="col">
                        <label for="metier">Métier</label>
                        <input type="text" name="metier" class="form-control metierEdit" placeholder=" Métier" [(ngModel)]="metier"
                          required="">
                      </div>

                      <div class="col">
                        <label for="description">Description</label>
                        <textarea name="description" cols="77" rows="10" required="" [(ngModel)]="presentation"></textarea>
                      </div>

                      <div class="col">
                        <label for="competences">Compétences</label>
                        <textarea name="competences" cols="77" rows="10" required="" [(ngModel)]="competence"></textarea>
                      </div>

                      <div class="col">
                        <label for="experiences">Expériences</label>
                        <textarea name="experiences" cols="77" rows="10" required="" [(ngModel)]="experience"></textarea>
                      </div>

                      <div class="col">
                        <label for="motivation">Motivation</label>
                        <textarea name="motivation" cols="77" rows="10" required="" [(ngModel)]="motivation"></textarea>
                      </div>
                    </div>

                  </form>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                  <button type="button" class="save" (click)="updateProfil()">Enregistrer</button>
                </div>
              </div>
            </div>
          </div>
          <div class="container" *ngFor="let profile of tabPrestataireFilter">
            <div class="editing">
              <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModall" (click)="loadPublicationInfo(profile)">Modifier <i
                  class="bi bi-pencil-square"></i>
              </button> &nbsp;
              <button class="deleteProfile">Supprimer <i class="bi bi-trash"></i></button>
            </div>
            <br>
            <div class="metier mb-4">
              <div>
                <h4>Metier</h4>
                <p>{{profile.metier}}</p>
              </div>
            </div>

            <div class="row row-cols-1 row-cols-md-2" id="resumer">
              <div class="col">
                <h4>Description</h4>
                <p>{{profile.presentation}}</p>
              </div>
              <div class="col">
                <h4>Compêtences</h4>
                <p>{{profile.competence}}</p>
              </div>
              <div class="col">
                <h4>Experiences</h4>
                <p>{{profile.experience}}</p>
              </div>
              <div class="col">
                <h4>Motivation</h4>
                <p>{{profile.motivation}}</p>
              </div>
            </div>
          </div>
        </div>

      </div>


    </div>
    <!-- fin publication de profil -->


    <!-- mes resultats de publication -->

  </div>
