* {
  font-family: 'Times New Roman', Times, serif;
}

/* Debut titre et icone diaman */
.entete {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.entete p {
  color: rgb(44, 44, 44);
  margin-top: -5px;
}

.entete i {
  color: #FB8500;
  font-size: 1.2rem;
  padding-bottom: 15px;
}

/* fin titre et icone diaman */

/* ---------------------------------------------------------------------- */

/* Section qui sommes nous */
.mesPropos {
  display: grid;
  grid-template-columns: 37% 30%;
  gap: 20px;
  justify-content: center;
  font-size: 18px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 510;
  margin-top: 0.5rem;
}

.propos1 img {
  width: 95%;
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
}

.btn {
  background-color: #070740;
  color: #fff;
  padding: 6px 15px;
  border: none !important;
  border-radius: 10px;
  margin-right: 0.5rem;
  font-weight: bold;
  font-size: 17px;
}

.btn:hover {
  background-color: #FB8500;
}

/* .propos2{
  background-color: aqua;
} */

.apropos {
  background-color: #fbfbfb;
  padding-bottom: 4rem;
}

/* Fin Section qui sommes nous */




/* section profils */
.container {
  width: 80%;
}

p a i {
  color: #070740;

}


/* Section pourquoi */

.pourquoi {
  background-color: #fbfbfb;
  padding-top: 2rem;
  font-family: 'Times New Roman', Times, serif;
}

.Container_Section_Online {
  width: 100%;
  height: auto;
  font-size: 17.5px;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 50% 35%;
  justify-content: center;
  padding: 3em;
  /* align-items: center; */
}

.Online_left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  /* flex-wrap: wrap; */
}



.Online_left_img img,
.Online_left_img_3 img {
  width: 250px;
  height: 200px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

@media screen and (max-width:700px) {
  .Container_Section_Online {
    width: 100%;
    height: auto;
    background-color: #fbfbfb;
    margin-top: 20px;
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    padding: 3em;
    /* align-items: center; */
  }

  .Online_left {
    margin-bottom: 30px;
  }
}

p b {
  font-size: 25px;
}



/* Section Rating */
.mx-auto p {
  font-size: 17px;
}

.mx-auto {
  font-family: 'Times New Roman', Times, serif;
}

#container {
  margin-top: -3rem;

}



/* bande image */
.bande {
  margin-top: -4.5rem;
}

.bande img {
  width: 100%;
}



/* remerciements */
.remerciements {
  margin-top: 2.5rem;
}

.Content_Section1_img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  margin-top: 2rem;
}

.Content_Section1_img img {
  width: 160px;
  height: 110px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}



.carousel-item img {
  width: 100%;
  height: 46rem;
}

.grp {
  display: flex;
  justify-content: center;
}


.grp img {
  /* height: 35rem; */
  width: 90%;
}


.cat {
  display: grid;
  grid-template-columns: 30% 45%;
  justify-content: center;
  gap: 3rem;

}

.cat2 p {
  font-size: 18px;
  font-weight: 500;
}

.cat2 .cat-titre {
  font-weight: 600;
  font-size: 27px;
}

.btn1 {
  border: none;
  background-color: #ff9d00;
  color: rgb(255, 255, 255);
  padding: 8px 20px;
  font-size: 17px;
  border-radius: 10px;
  font-weight: bold;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.btn1:hover {
  background-color: #070740;
}

.cercle img {
  width: 35%;
  margin-top: 4rem;
}

/* #container{
  background-color: #fbfbfb;
  width: 100%;
} */

@media screen and (max-width: 1024px) {
  .cat {
    display: grid;
    grid-template-columns: 35% 45%;
    justify-content: center;
    gap: 3rem;

  }
}

@media screen and (max-width: 867px) {
  .cat {
    display: grid;
    grid-template-columns: 40% 45%;
    justify-content: center;
    gap: 3rem;

  }
}

@media screen and (max-width: 767px) {
  .cat {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    gap: 3rem;
    padding: 0 20px;

  }

  .cercle {
    display: none;
  }



}

@media screen and (max-width: 1234px) {
  .mesPropos {
    display: grid;
    grid-template-columns: 37% 33%;
    gap: 1.5rem;
    justify-content: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 510;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 1024px) {
  .mesPropos {
    display: grid;
    grid-template-columns: 40% 40%;
    gap: 1.5rem;
    justify-content: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 510;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 867px) {
  .mesPropos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    justify-content: center;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 510;
    margin-top: 0.5rem;
    padding: 0 25px;
  }

  .propos1 img {
    width: 60%;
    margin: 0 auto;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px; */
  }
}

.contact {
  margin-top: -5rem;
}

.formContact {
  display: grid;
  grid-template-columns: 45% 40%;
  justify-content: center;
  padding: 0 25px;
  gap: 20px;


}

.formContact h4 {
  color: #070740;
}

.champs {
  padding: 10px 35px;
  /* border: 1px solid #000; */
}

.input label {
  font-size: 19px;
  margin-top: 10px;
}

.input input {
  width: 80%;
  padding: 7px 0;
  border-radius: 7px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

textarea {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  border-radius: 7px;
  width: 80%;
}

.btnSend {
  margin-top: 10px;
}

.btnSend button {
  margin: 0 auto;
  width: 80%;
  padding: 6px 0;
  background-color: #070740;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  border-radius: 10px;
}

.logoo {
  display: none;
}

@media screen and (max-width:1300px) {
  .champs {
    margin-top: -12px;
  }
}

@media screen and (max-width:1225px) {
  .formContact {
    display: grid;
    grid-template-columns: 45% 45%;
    justify-content: center;
    padding: 0 25px;
    gap: 20px;


  }
}

@media screen and (max-width:1150px) {
  .formContact {
    display: grid;
    grid-template-columns: 45% 48%;
    justify-content: center;
    padding: 0 25px;
    gap: 20px;
  }

  .champs {
    margin-top: -2rem;
  }
}

@media screen and (max-width:1225px) {
  .formContact {
    display: grid;
    grid-template-columns: 45% 48%;
    justify-content: center;
    padding: 0 25px;
    gap: 20px;
  }
}

@media screen and (max-width:1077px) {
  .formContact {
    display: grid;
    grid-template-columns: 49% 50%;
    justify-content: center;
    padding: 0 25px;
    gap: 20px;
  }
}

@media screen and (max-width:950px) {
  .side1 {
    display: none;
  }

  .formContact {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 0 25px;
    gap: 20px;
  }

  .champs {
    width: 80%;
    margin: 0 auto;
    margin-top: -2rem;

  }

  input,
  .textarea {
    width: 100%;
  }

  .btnSend button {
    width: 87%;
  }

  input,
  label,
  textarea,
  .btnSend,
  .champs h4 {
    margin-left: 4rem;
  }

  form {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  }

  .logoo {
    display: block;
  }

  .logoo img {
    width: 40%;
    margin: 0 auto;
    padding-bottom: 10px;
  }

  .btnSend {
    padding-bottom: 15px;
  }

}

@media screen and (max-width: 868px) {
  .champs {
    width: 90%;
    margin: 0 auto;
    margin-top: -2rem;
  }

  .btnSend button {
    width: 90%;
  }
}

@media screen and (max-width: 730px) {

  input,
  label,
  textarea,
  .btnSend,
  .champs h4 {
    margin-left: 3rem;
  }

        .btnSend button {
          width: 87%;
        }

        form{
          padding: 0 12px;
        }
}

@media screen and (max-width: 540px) {
  input,
    label,
    textarea,
    .btnSend,
    .champs h4 {
      margin-left: 2rem;
    }
}
@media screen and (max-width: 500px) {
.champs{
  width: 110% !important;
  margin-left: -1.85rem;
}
}
@media screen and (max-width: 410px) {
.champs{
  width: 115% !important;
  margin-left: -1.85rem;
}
}

 .btnSend button:hover {
   background-color: #FB8500;
 }
