<!-- entete -->
<app-entete></app-entete>

<div class="banner">
  <img src="../../assets/politikConfi.png" alt="">
</div>

<div class="contenu">
  <br><br>
  <h4>Dernière mise à jour : [12.01.2024]</h4>
  <br><br>
  <p>
    Bienvenue sur Ouvrier-Express. La présente Politique de Confidentialité a pour but de vous informer sur la manière dont
    nous collectons, utilisons, partageons et protégeons vos informations personnelles lorsque vous utilisez notre site web.
  </p>
  <br>
  <h3>Collecte et Utilisation des Informations Personnelles</h3>
  <p>
    Lorsque vous vous inscrivez sur Ouvrier-Express, nous pouvons collecter des informations personnelles telles que votre
    nom, votre adresse e-mail, votre numéro de téléphone et d'autres informations nécessaires à la mise en relation entre
    les travailleurs et les entreprises.
    Nous utilisons ces informations pour faciliter la mise en relation entre les utilisateurs, améliorer nos services,
    personnaliser votre expérience sur le site, et vous informer sur les mises à jour et les offres spéciales.
  </p>
  <br>
  <h3>Protection de vos Informations</h3>
  <p>
    La sécurité de vos informations personnelles est notre priorité. Nous mettons en œuvre des mesures de sécurité
    physiques, électroniques et administratives appropriées pour protéger vos données contre tout accès non autorisé,
    divulgation, altération ou destruction.
  </p>
  <br>
  <h3>Partage d'Informations avec des Tiers</h3>
  <p>
    Nous pouvons partager vos informations personnelles avec des tiers uniquement dans le but de faciliter les services
    proposés sur Ouvrier-Express, tels que la mise en relation entre les travailleurs et les entreprises. Nous ne vendons ni
    ne louons vos informations à des tiers à des fins marketing sans votre consentement explicite.
  </p>
  <br>
  <h3>Cookies et Technologies Similaires</h3>
  <p>
    Ouvrier-Express peut utiliser des cookies et des technologies similaires pour améliorer votre expérience sur le site en
    mémorisant vos préférences et en vous offrant un contenu personnalisé.
  </p>
  <br>
  <h3>Droit d'Accès et de Modification de vos Informations</h3>
  <p>
    Vous avez le droit d'accéder aux informations personnelles que nous détenons à votre sujet et de demander des
    corrections si nécessaire. Pour exercer ces droits, veuillez nous contacter.
    .
  </p>
  <br>
  <h3>Modifications de la Politique de Confidentialité</h3>
  <p>
  Nous nous réservons le droit de modifier cette Politique de Confidentialité à tout moment. Les modifications seront
  effectives dès leur publication sur le site. Nous vous encourageons à consulter régulièrement cette page pour rester
  informé des mises à jour. <br>En utilisant Ouvrier-Express, vous acceptez les termes de cette Politique de Confidentialité.
  Pour toute question concernant cette Politique de Confidentialité, veuillez nous contacter.
  </p>
</div>
