<div class="Navbar d-flex justify-content-between">
  <div class="navLeft d-flex">
    <div class="imgLogo">
      <img src="../../../../assets/images/logo2-removebg-preview.png" class="img-fluid" alt="">
    </div>
    <div class="burger">
      <i class="fa fa-bars" (click)="toggleSidebar()"></i>
    </div>
  </div>

  <div class="rightNav border">


    <div class="dropdown-center">
      <i class="fa-solid fa-bell mx-4 " type="button" data-bs-toggle="dropdown" aria-expanded="false"></i>
      <!-- <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Centered dropdown
            </button> -->
      <ul class="dropdown-menu mt-4">
        <li><a class="dropdown-item" href="#">Voir toutes</a></li>
        <li><a class="dropdown-item" href="#">Récentes</a></li>
      </ul>
    </div>

    <!-- Example single danger button -->
    <div class="dropdown-center m-0 p-0">
      <button type="button" class="btn m-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="../../../../assets/images/profil/profil2.jpg" class="" alt="">
        Admin
      </button>
      <ul class="dropdown-menu mt-3">
        <li><a class="dropdown-item" href="#">Mon profil</a></li>
        <li></li>
        <!-- <app-logout-admin></app-logout-admin> -->
      </ul>
    </div>

  </div>
</div>
