<div class="dashbord">
  <div class="section sidebar">
    <app-sidebar></app-sidebar>
  </div>

  <div class="section">
    <!-- Le navbar  -->
    <app-navbar></app-navbar>

    <!-- gestion des catégories  -->

      <div class="row  row-cols-1 row-cols-md-3">
        <div class="col">
          <div class="card">

            <img
              src="https://img.freepik.com/free-photo/standard-quality-control-concept-m_23-2150041859.jpg?size=626&ext=jpg&ga=GA1.2.513108714.1692835132&semt=sph"
              alt="">
          </div>
        </div>

        <!-- --------- -->
        <div class="col">
           <div class="card">
          <div class="  imgg">
            <img
              src="https://img.freepik.com/free-photo/stacks-coins-arranged-bar-graph_35913-2518.jpg?size=626&ext=jpg&ga=GA1.2.513108714.1692835132&semt=sph"
              alt="">
          </div>
        </div>
        </div>

        <!-- --------- -->
        <div class="col">
          <div class="card">
          <div class=" imgg">
            <img
              src="https://img.freepik.com/free-photo/craftsman-creating-wood-piece_1157-45890.jpg?size=626&ext=jpg&ga=GA1.1.513108714.1692835132&semt=ais"
              alt="">
          </div>
        </div>
        </div>

        <!-- --------- -->
        <div class="col">
          <div class="card">
          <div class=" imgg">
            <img
              src="https://img.freepik.com/free-photo/masonry-worker-outside-wall-with-trowel-knife_1150-13620.jpg?size=626&ext=jpg&ga=GA1.1.513108714.1692835132&semt=ais"
              alt="">
          </div>
        </div>
        </div>

        <!-- --------- -->
        <div class="col card">

        </div>



      </div></div>
